body {
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

a:hover {
    color: #EE1C64;
}