body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
}

.main-content {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 90%;
    min-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-family: var(--font-display);
    font-size: 2rem;
    background-image: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--light-color);
}

.navbar__menu {
    display: flex;
    gap: 50px;
}

.navbar__link {
    text-decoration: none;
    font-weight: 600;
    font-family: var(--font-primary);
    font-size: 1rem;
    color: var(--light-color);
}

.navbar__link--gradient {
    background-image: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--light-color);
}