<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./detalhesMidia.css">
    <link rel="stylesheet" href="../../main.css">
    <title>Projeto Final</title>
</head>
<body>
    <nav class="navbar">

        <h1 class="navbar__logo">
            <a href="/">QuintaEstrela</a>
        </h1>

        <div class="navbar__menu">
            <a class="navbar__link" href="/src/view/avaliacoesUsuarios/avaliacoesUsuarios.html">Ir para as Avaliações do Usuario</a>
            <a class="navbar__link" href="/src/view/favoritosUsuario/favoritosUsuario.html">Ir para os Favoritos do Usuario</a>
            <a class="navbar__link" href="/src/view/entrar/entrar.html">Entrar</a>
            <a class="navbar__link navbar__link--gradient" href="/src/view/cadastrar/cadastrar.html">Cadastrar-se</a>
        </div>

    </nav>

    <main class="main-content">
        <div class="main-content__banner-midia">
            <div class="dark-gradient"></div>
        </div>
    </main>

    
    <footer class="footer">
        <div class="footer__detail"></div>
        <div class="footer__informations">
            <div class="information-project">
                <h1 class="information-logo">QuintaEstrela</h1>
                <p class="information-description">Site de avaliações de filmes implementado Orientado a Objetos, desenvolvido como projeto final do curso de Programação Orientada a Objetos, do Bacharelado em Ciência da Computação na Universidade Estadual de Campinas - UNICAMP</p>
            </div>
            <div class="information-developers">
                <h4 class="information-title">Desenvolvedores</h4>
                <p class="information-text">Celso Gabriel F. M. Prado <br> Chris Araujo Felipe Souza <br> Guilherme Marconi Mugnai <br> Vitor F. dos Santos Lacerda</p>
            </div>
            <div class="information-tools">
                <h4 class="information-title">Usados no desenvolvimento</h4>
                <p class="information-text">Draw.io <br> Figma <br> TypeScript <br> Keen-Slider</p>
            </div>
        </div>
    </footer>
    <script src="/dist/view/detalhesMidia/detalhesMidia.js"></script>
</body>
</html>