<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./detalhesMidia.css">
    <link rel="stylesheet" href="../../main.css">
    <title>Projeto Final</title>
</head>
<body>
    <nav class="navbar">

        <h1 class="navbar__logo">
            <a href="/">QuintaEstrela</a>
        </h1>

        <div class="navbar__menu">
            <a class="navbar__link" href="/src/view/avaliacoesUsuarios/avaliacoesUsuarios.html">Ir para as Avaliações do Usuario</a>
            <a class="navbar__link" href="/src/view/favoritosUsuario/favoritosUsuario.html">Ir para os Favoritos do Usuario</a>
            <a class="navbar__link" href="/src/view/entrar/entrar.html">Entrar</a>
            <a class="navbar__link navbar__link--gradient" href="/src/view/cadastrar/cadastrar.html">Cadastrar-se</a>
        </div>

    </nav>

    <main class="main-content">
        <div class="main-content__banner-midia">
            <div class="dark-gradient"></div>
        </div>
        <div class="main-content__cards">
            <div class="card__midia-informations card">
                <img class="informations__img" src="./../../assets/imagensLogo/onePiece.png" alt="">
                <div class="informations__details">
                    <div class="details__rating">
                        5
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                    </div>
                    <div class="details__separator"></div>
                    <div>2023</div>
                    <div class="details__separator"></div>
                    <div>L</div>
                    <div class="details__separator"></div>
                    <div>Ação, Aventura</div>
                </div>
                <div class="informations__synopsis">
                    Monkey D. Luffy é um garoto de espírito livre que tem energia e coragem de sobra. Seu maior sonho é se tornar o Rei dos Piratas e conquistar os mares e, para isso, ele tem como missão encontrar o legado de Gold Roger.
                </div>
                <div class="informations__directors">
                    <h6 class="directors-title">Diretores:</h6>
                    <p class="directors-list">Fulano, Ciclano</p>
                </div>
                <div class="informations__cast">
                    <h6 class="cast-title">Elenco:</h6>
                    <ul class="cast-list">
                        <li>Iñaki Godoy como <b>Monkey D. Luffy</b></li>
                        <li>Mackenyu como <b>Roronoa Zoro</b></li>
                        <li>Emily Rudd como <b>Nami</b></li>
                        <li>Jacob Gibson como <b>Usopp</b></li>
                    </ul>
                </div>
            </div>
            <div class="card__midia-ratings">
                <div class="ratings__card card">
                    <h1 class="rating">4.5</h1>
                    
                    <div class="details__rating">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaMetade.png" alt="">
                    </div>
                    <h6 class="rating-number">5 Avaliações</h6>
                </div>
                <div class="ratings__card card">
                    <h2 class="ratings__card-card__title"><b class="text--gradient-font-primary">F</b>aça sua avaliação</h2>

                    <form>
                        <div class="card__item background-gradient-primary">
                            <input class="card__input" type="text" placeholder="Avaliação" name="rating" id="rating"/>
                        </div>
                        
                        <div class="card__item card__item--comment background-gradient-primary">
                            <textarea class="card__input" rows="5" cols="33" maxlength="144" placeholder="Comentário" name="comment" id="comment"></textarea>
                        </div>

                        <div class="card__button background-gradient-primary" id="submitButton">
                            Enviar
                        </div>
                    </form>
                </div>
                <div class="ratings__card card">
                    <h2 class="card-rating card-rating__rating-number">5 Avaliações</h2>
                    <div class="ratings">
                        <div class="rating">
                            <div class="name-date">
                                <h5 class="name">Celso Gabriel Prado</h5>
                                <h6 class="date">Out 16</h6>
                            </div>
                            <div class="rating-value">
                                4.5
                                <img src="/src/assets/icons/estrelaCheia.png" alt=""></div>
                            <div class="comment">
                                A trama de "One Piece" é cheia de reviravoltas surpreendentes e personagens cativantes.
                            </div>
                        </div>
                        <div class="rating__separator"></div>
                        <div class="rating">
                            <div class="name-date">
                                <h5 class="name">Celso Gabriel Prado</h5>
                                <h6 class="date">Out 16</h6>
                            </div>
                            <div class="rating-value">
                                4.5
                                <img src="/src/assets/icons/estrelaCheia.png" alt=""></div>
                            <div class="comment">
                                A trama de "One Piece" é cheia de reviravoltas surpreendentes e personagens cativantes.
                            </div>
                        </div>
                        <div class="rating__separator"></div>
                        <div class="rating">
                            <div class="name-date">
                                <h5 class="name">Celso Gabriel Prado</h5>
                                <h6 class="date">Out 16</h6>
                            </div>
                            <div class="rating-value">
                                4.5
                                <img src="/src/assets/icons/estrelaCheia.png" alt=""></div>
                            <div class="comment">
                                A trama de "One Piece" é cheia de reviravoltas surpreendentes e personagens cativantes.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__detail"></div>
        <div class="footer__informations">
            <div class="information-project">
                <h1 class="information-logo">QuintaEstrela</h1>
                <p class="information-description">Site de avaliações de filmes implementado Orientado a Objetos, desenvolvido como projeto final do curso de Programação Orientada a Objetos, do Bacharelado em Ciência da Computação na Universidade Estadual de Campinas - UNICAMP</p>
            </div>
            <div class="information-developers">
                <h4 class="information-title">Desenvolvedores</h4>
                <p class="information-text">Celso Gabriel F. M. Prado <br> Chris Araujo Felipe Souza <br> Guilherme Marconi Mugnai <br> Vitor F. dos Santos Lacerda</p>
            </div>
            <div class="information-tools">
                <h4 class="information-title">Usados no desenvolvimento</h4>
                <p class="information-text">Draw.io <br> Figma <br> TypeScript <br> Keen-Slider</p>
            </div>
        </div>
    </footer>
    <script src="/dist/view/detalhesMidia/detalhesMidia.js"></script>
</body>
</html>