<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./home.css">
        <link rel="stylesheet" href="../../main.css">
        <script src="/dist/view/home/home.js"></script>
    <title>Projeto Final</title>
</head>
<body>
    <nav class="navbar">

        <h1 class="navbar__logo">
            <a href="/">QuintaEstrela</a>
        </h1>

        <div class="navbar__menu">
            <a class="navbar__link" href="/src/view/detalhesMidia/detalhesMidia.html">Ir para os Detalhes da Midia</a>
            <a class="navbar__link" href="/src/view/avaliacoesUsuarios/avaliacoesUsuarios.html">Ir para as Avaliações do Usuario</a>
            <a class="navbar__link" href="/src/view/favoritosUsuario/favoritosUsuario.html">Ir para os Favoritos do Usuario</a>
            <a class="navbar__link" href="/src/view/entrar/entrar.html">Entrar</a>
            <a class="navbar__link navbar__link--gradient" href="/src/view/cadastrar/cadastrar.html">Cadastrar-se</a>
        </div>

    </nav>

    <main class="main-content">
        <div class="main-content__featured-media">
            <div class="featured-media__information">
                <img class="information__logo" src="/src/assets/imagensLogo/onePiece.png" alt="Logo One Piece">
                <div class="information__details">
                    <div class="details__rating">5 Estrelas</div>
                    <div class="details__separator"></div>
                    <div class="details__text">2023</div>
                    <div class="details__separator"></div>
                    <div class="details__text">12+</div>
                    <div class="details__separator"></div>
                    <div class="details__text">Ação, Aventura</div>
                </div>
                <div class="information__synopsis">
                    Monkey D. Luffy é um garoto de espírito livre que tem energia e coragem de sobra. Seu maior sonho é se tornar o Rei dos Piratas e conquistar os mares e, para isso, ele tem como missão encontrar o legado de Gold Roger.
                </div>
                <div class="information__button">
                    Avaliar
                </div>
            </div>
        </div>
        <div class="main-content__sliders"></div>
    </main>
</body>
</html>