<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./home.css">
        <link rel="stylesheet" href="../../main.css">
        <script src="/dist/view/home/home.js"></script>
    <title>Projeto Final</title>
</head>
<body>
    <nav class="navbar">

        <h1 class="navbar__logo">
            <a href="/">QuintaEstrela</a>
        </h1>

        <div class="navbar__menu">
            <a class="navbar__link" href="/src/view/detalhesMidia/detalhesMidia.html">Ir para os Detalhes da Midia</a>
            <a class="navbar__link" href="/src/view/avaliacoesUsuarios/avaliacoesUsuarios.html">Ir para as Avaliações do Usuario</a>
            <a class="navbar__link" href="/src/view/favoritosUsuario/favoritosUsuario.html">Ir para os Favoritos do Usuario</a>
            <a class="navbar__link" href="/src/view/entrar/entrar.html">Entrar</a>
            <a class="navbar__link navbar__link--gradient" href="/src/view/cadastrar/cadastrar.html">Cadastrar-se</a>
        </div>

    </nav>
</body>
</html>