body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--dark-color);
    font-family: var(--font-primary);
    color: var(--light-color);
    overflow-x: hidden;
}

.navbar {
    left: 5%;
    position: fixed;
    top: 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar__logo {
    font-family: var(--font-display);
    font-size: 2rem;
    background-image: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--light-color);
}

.navbar__menu {
    display: flex;
    gap: 50px;
}

.navbar__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--light-color);
}

.navbar__link--gradient {
    background-image: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--light-color);
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content__featured-media {
    width: 80%;
    height: 800px;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 24px 24px 0 0;
    background-image: url(/src/assets/imagensBanner/onePiece.jpg);
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
}

.dark-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, var(--dark-color), transparent);
}

.dark-gradient--horizontal {
    width: 500px;
    height: 100%;
    background: linear-gradient(90deg, var(--dark-color), transparent);
}

.featured-media__information {
    z-index: 11;
    margin-top: 180px;
    padding-left: 60px;
}

.information__logo {
    max-width: 500px;
}

.information__details {
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 20px 0;
}

.details__rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.details__rating img {
    height: 20px;
}

.details__separator {
    width: 2px;
    height: 20px;
    background: var(--gradient-primary);
}

.information__synopsis {
    color: var(--light-color);
}

.information__button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    text-decoration: none;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.information__synopsis {
    color: var(--white-color);
    line-height: 25px;
}

.main-content__sliders {
    width: 100%;
    margin-top: -50px;
}

.slider {
    margin: 20px 100px;
    display: flex;
}

.card__link {
    text-decoration: none;
    color: var(--light-color);
}

.card__img {
    object-fit: fill;
    width: 350px;
    height: 500px;
    border-radius: 12px 12px 12px 12px;
}

.card__informations {
    padding: 10px 15px;
}

.card__title {
    margin: 0;
    font-size: 1.8rem;
}

.card__details {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 10px 0 15px 0;
}

.details__rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.details__rating img {
    margin-top: -2px;
    height: 15px;
}

.details__separator {
    width: 2px;
    height: 20px;
    background: var(--gradient-primary);
}

.card__synopsis {
    color: var(--gray-tertiary-color);
    font-size: 0.9rem;
    line-height: 24px;
}

.footer {
    width: 1600px;
    margin: 0 auto;
}

.footer__detail {
    width: 100%;
    height: 1px;
    background: var(--gradient-primary);
}

.footer__informations {
    padding: 30px 50px;
    gap: 100px;
    display: grid;
    grid-template-columns: 45% 20% 20%;
}

.information-logo {
    font-family: var(--font-display);
    font-size: 2rem;
    background-image: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--light-color);
}

.information-description {
    color: var(--gray-tertiary-color);
    line-height: 30px;
}

.information-title {
    font-family: var(--font-primary);
    font-size: 1rem;
    background-image: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--light-color);
    font-size: 1.2rem;
}

.information-text {
    margin-top: 35px;
    color: var(--gray-tertiary-color);
    line-height: 35px;
}