<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./home.css">
        <link rel="stylesheet" href="../../main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css"/>
    <title>Projeto Final</title>
</head>
<body>
    <nav class="navbar">

        <h1 class="navbar__logo">
            <a href="/">QuintaEstrela</a>
        </h1>

        <div class="navbar__menu">
            <a class="navbar__link" href="/src/view/detalhesMidia/detalhesMidia.html">Ir para os Detalhes da Midia</a>
            <a class="navbar__link" href="/src/view/avaliacoesUsuarios/avaliacoesUsuarios.html">Ir para as Avaliações do Usuario</a>
            <a class="navbar__link" href="/src/view/favoritosUsuario/favoritosUsuario.html">Ir para os Favoritos do Usuario</a>
            <a class="navbar__link" href="/src/view/entrar/entrar.html">Entrar</a>
            <a class="navbar__link navbar__link--gradient" href="/src/view/cadastrar/cadastrar.html">Cadastrar-se</a>
        </div>

    </nav>

    <main class="main-content">
        <div class="main-content__featured-media">
            <div class="dark-gradient dark-gradient--vertical"></div>
            <div class="dark-gradient"></div>
            <div class="featured-media__information">
                <img class="information__logo" src="/src/assets/imagensLogo/onePiece.png" alt="Logo One Piece">
                <div class="information__details">
                    <div class="details__rating">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaCheia.png" alt="">
                        <img src="/src/assets/icons/estrelaMetade.png" alt="">
                    </div>
                    <div class="details__separator"></div>
                    <div>2023</div>
                    <div class="details__separator"></div>
                    <div>12+</div>
                    <div class="details__separator"></div>
                    <div>Ação, Aventura</div>
                </div>
                <div class="information__synopsis">
                    Monkey D. Luffy é um garoto de espírito livre que tem energia e coragem de sobra. Seu maior sonho é se tornar o Rei dos Piratas e conquistar os mares e, para isso, ele tem como missão encontrar o legado de Gold Roger.
                </div>
                <div class="information__button background-gradient-tertiary">
                    Avaliar
                </div>
            </div>
        </div>
        <div class="main-content__sliders">
            <div id="slider-films" class="slider keen-slider"></div>
            <div id="slider-series" class="slider keen-slider"></div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__detail"></div>
        <div class="footer__informations">
            <div class="information-project">
                <h1 class="information-logo">QuintaEstrela</h1>
                <p class="information-description">Site de avaliações de filmes implementado Orientado a Objetos, desenvolvido como projeto final do curso de Programação Orientada a Objetos, do Bacharelado em Ciência da Computação na Universidade Estadual de Campinas - UNICAMP</p>
            </div>
            <div class="information-developers">
                <h4 class="information-title">Desenvolvedores</h4>
                <p class="information-text">Celso Gabriel F. M. Prado <br> Chris Araujo Felipe Souza <br> Guilherme Marconi Mugnai <br> Vitor F. dos Santos Lacerda</p>
            </div>
            <div class="information-tools">
                <h4 class="information-title">Usados no desenvolvimento</h4>
                <p class="information-text">Draw.io <br> Figma <br> TypeScript <br> Keen-Slider</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script src="/dist/view/home/home.js"></script>
</body>
</html>