<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cadastrar.css">
    <link rel="stylesheet" href="../../main.css">
    <script src="/dist/view/cadastrar/cadastrar.js"></script>
    <title>Projeto Final</title>
</head>
<body>
    <nav class="navbar">

        <h1 class="navbar__logo">
            <a href="/">QuintaEstrela</a>
        </h1>

        <div class="navbar__menu">
            <a class="navbar__link" href="/src/view/entrar/entrar.html">Entrar</a>
            <a class="navbar__link navbar__link--gradient" href="/src/view/cadastrar/cadastrar.html">Cadastrar-se</a>
        </div>

    </nav>

    <main class="main-content">

        <form class="form">

            <h2 class="form__title"><b class="form__text--gradient">C</b>adastrar</h2>

            <div class="form__item background-gradient-primary">
                <div class="form__svg">
                  <img src="./../../assets/icons/name.png" alt="Nome">
                </div>
                <input class="form__input" type="text"  placeholder="Nome" name="name" id="nome"/>
            </div>

            <div class="form__item background-gradient-primary">
                <div class="form__svg">
                  <img src="./../../assets/icons/email.png" alt="Email">
                </div>
                <input class="form__input" type="text"  placeholder="Email" name="email" id="email"/>
            </div>

            <div class="form__item background-gradient-primary" id="itemPassword">
                <div class="form__svg">
                  <img src="./../../assets/icons/password.png" alt="Senha">
                </div>
                <input class="form__input" type="text"  placeholder="Senha" name="password" id="password"/>
            </div>

            <div class="form__button background-gradient-secondary" id="submitButton">
                Cadastrar
            </div>

            <p class="form__text">
                Já tem uma conta? <a href="/src/view/entrar/entrar.html" class="text--gradient-font-primary">Entrar<a>
            </p>

        </form>
    </main>
</body>
</html>